// === Variables ===
$color-main: white;
$color-container: #FFFFFF;
$color-font-title: #45852D;
$color-description: #363636;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1180px;

// === Mixins ===
@mixin font-main{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}


@mixin font-main-bold{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
}

@mixin font-description{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: $color-description;
}



// === Common ===

*{
  
}

body {
    margin: 0;
    background-color: $color-main;
}

a:hover{
    text-decoration: none;
}

.container{
    background-color: $color-container;
    width: 100%;
    max-width: $screen-xl;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;

    &__title{
       
        margin-bottom: 37px;

        h1{
            font-size: 36px;
            text-align: center;
            color: $color-font-title;
            line-height: 49px;
            @include font-main-bold;
        }
    }


    &__link{

        @include font-main-bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.3px;
        color: $color-description;

    }

    &__button{
        text-align: center;
        margin-top: 61px;
       

        &-link{
            border: 1px solid #D8D8D8;
            border-radius: 25px;
            text-decoration: none;
            padding: 11px 44px 15px 32px;
            position: relative;
        }
    }

    .link{
        
        &__icon{
            margin-left: 9px;
            position: absolute;
            top: 15px;
        }
    }

    .icon{
        width: 7px;
        height: 18px;
    }

  }

@media screen and (max-width: $screen-lg) {
    
.container{
    padding: 10px 10px;
}

}  

.row{
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 1.0s linear;
    margin-bottom: 18px;
    align-items: center;

}

@media screen and (max-width: $screen-lg) {
       
    .row{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }
    
 }

@media screen and (max-width: $screen-sm) {

    .row{
        flex-direction: column;
        
    }

}

.hidden{
    opacity: 0;
    height: 0;
    display: none;
}

/* === Element === */

.element{
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    flex-basis: 376px;
    
    &__text{
        padding: 16px 10px 17px 19px;
    }

    &__title{
        margin-bottom: 3px;
    }

    .title__text{
        @include font-main-bold;
        font-size: 20px;
        line-height: 27px;
        color: #363636;
    }

    &__link{
        text-decoration: none;
    }

    &__img--wrapper{
        position: relative;
    
    }

    &__img{

        width: 100%;
        height: auto;

        &-text{
            @include font-main-bold;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            background-color:#000;
            padding: 8px 10px 6px 11px;
            position: absolute;
            bottom: 4px;
            right: 0;
        }

    }

    .emerald-color{
        background-color:#006F79;
    }
    
    .orange-color{
        background-color:#EC6608;
    }

    &__address{
        margin-bottom: 15px;
    }

    .address{

        &__text{
        @include font-description;
        font-weight: normal;
        }
    }

    .price {
    
        &__text{
            @include font-description;
            font-weight: normal;
        }

        &__number{
            @include font-description;
            font-weight: bold;
        }
    }

    &__price{
        margin-bottom: 7px;
    }

    .availability{

        &__text{
            @include font-main;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 7px;
            color: $color-description;
        }

    }
    
}

.element + .element{
    margin-left: 23px;
}

@media screen and (max-width: $screen-md) {


    .element{
        margin-top: 40px;
        margin-right: 0px;
        width: 80%;

        &__img{

            width: 100%;
            height: 100%;
            &--wrapper{
                height: 100%;
            }
        }

    }

    .element + .element{
        margin-left: 0px;
    }

}

@media screen and (max-width: $screen-sm) {

    .element{

        width: 100%;
    
    }

}
        
     

    




    